In [ ]:
#Create a list of 10 integers.

#Print the sum, max, min, and average.

nums=list(map(int,input("enter 5 numbers separated by space:").split()))
summ=0
maxm=nums[0]
minm=nums[0]

for item in nums:
    summ+=item
    if maxm<item:
        maxm=item
    if minm>item:
        minm=item

avg=summ/len(nums)
print(summ)
print(maxm)
print(minm)
print(avg)

Accept n numbers from the user and store them in a list.

Print only the even numbers.

In [2]:
n=int(input("enter the number of element in list:"))
nums=[]
for i in range(n):
    val=int(input(f"enter value in index{i+1}:"))
    nums.append(val)
for item in nums:
    if item%2==0:
        print(f"{item} is even")

2 is even
4 is even

Remove all duplicates from a list.

In [7]:
n=int(input("enter numbe of elements in your list:"))
nums=[]
for i in range(n):
    val=int(input(f"enter element in index {i+1} :"))
    nums.append(val)
    uniq=[]
for item in nums:
    if item not in uniq:
        uniq.append(item)

print(uniq)

[1]

Sort a list in ascending and descending order without using

In [ ]:
list=[1,7,2,3,8,9,2]
for i in range(n):
    for j in range(0, n - i - 1):
        if nums[j] > nums[j + 1]:
            nums[j], nums[j + 1] = nums[j + 1], nums[j]
print(nums)

Reverse a list manually

original = [1, 7, 2, 3, 8, 9, 2]
reversed_list = []

for i in range(len(original) - 1, -1, -1):
    reversed_list.append(original[i])

print("Reversed list:", reversed_list)

Merge two lists and remove duplicates.

In [8]:
lista=[1,2,3,4,5,6]
listb=[2,3,4,5,7,8,9]
merged=[]
for item in lista:
    merged.append(item)
for item in listb:
    if item not in merged:
        merged.append(item)
print(merged)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Find the second largest and second smallest element in a list.

In [5]:
lista=[1,2,3,4,5,6,7,8]
maxlist=[]
n=len(lista)
for i in range(n):
    for j in range(n-i-1):
        if lista[j]>lista[j+1]:
            lista[j],lista[j+1]=lista[j+1],lista[j]

print("the second largest element is ")
print(lista[n-2])
print("the second smallest element is ")
print(lista[1])

the second largest element is
7
the second smallest element is
2

Count the frequency of each element in a list.

In [9]:
lista = [1, 2, 3, 3, 4, 5, 1, 4, 5, 6, 7, 8]
counted = []

for item in lista:
    if item not in counted:
        count = 0
        for i in range(len(lista)):
            if item == lista[i]:
                count += 1
        print(f"{item} is repeated {count} time(s).")
        counted.append(item)

1 is repeated 2 time(s).
2 is repeated 1 time(s).
3 is repeated 2 time(s).
4 is repeated 2 time(s).
5 is repeated 2 time(s).
6 is repeated 1 time(s).
7 is repeated 1 time(s).
8 is repeated 1 time(s).

Accept a list of strings and return the longest string

In [ ]:
n=int(input("enter the np of string you want to enter:"))
lista=[]
for i in range(n):
    val=input(f"enter string in {i+1} index:")
    lista.append(val)

for i in range(n):
    for j in range(n-i-1):
        if len(lista[j])>len(lista[j+1]):
            lista[j],lista[j+1]=lista[j+1],lista[j]
print(lista[n-1])

SET
1.Create two sets and:

Find union, intersection, difference, and symmetric difference.

In [ ]:
seta={1,2,3,4,5}
setb={6,5,4,8,9}
union=seta|setb
intersection=seta&setb
symmetric=seta^setb
adifference=seta-intersection

print("Union:", union)
print("Intersection:", intersection)
print("Symmetric Difference:", symmetric)
print("Difference (seta - intersection):", adifference)

Given a list with duplicates, convert it to a set and back to a list (to remove duplicates).

In [1]:
lista={1,2,1,2,3,4,4,5}
seta=set(lista)
print(seta)
convlist=list(seta)
print(f"converted list is :{convlist}")

{1, 2, 3, 4, 5}
converted list is :[1, 2, 3, 4, 5]

Check if one set is a subset or superset of another.

In [3]:
seta={1,2,3,4,5}
universalset={1,2,3,4,5,6,7,8,9,10}
if seta<=universalset:
    print("seta is subset of universal set")
if seta<universalset:
    print("seta is proper set of universal set")
if seta>=universalset:
    print("setb is superset of seta")

seta is subset of universal set
seta is proper set of universal set

Create a set and:

Add elements to it

Remove specific elements using remove() and discard()

Try removing a non-existing element (difference between remove and discard)

In [4]:
seta={'a','b','c','d','e'}
seta.add('f')
print(seta)
seta.remove('f')
print(seta)
seta.discard('e')
print(seta)
seta.remove(4)
seta.discard(5)

{'a', 'c', 'b', 'e', 'd', 'f'}
{'a', 'c', 'b', 'e', 'd'}
{'a', 'c', 'b', 'd'}

KeyError: 4

Given two sets of students playing cricket and football:

Find students who play both.

Students who play only cricket.

Students who play either cricket or football but not both.

In [ ]:
cricket_players = {"Alice", "Bob", "Charlie", "David"}
football_players = {"Eve", "Frank", "Charlie", "George"}
#who play both
intersection=cricket_players&football_players
#student who play only crivket
onlycricket=cricket_players-intersection
#student who play either crciket or football but not both
sym=cricket_players^football_players

DICTIONARY

Create a dictionary with keys as student names and values as their marks.

In [5]:
dict={
    'suvekshya':30,
    'sara':50,
    'radha':60,

}
print(dict)

{'suvekshya': 30, 'sara': 50, 'radha': 60}

Add, update, and delete key-value pairs from a dictionary.

In [6]:
n=int(input("enter how many record to enter?"))
dict={}
for _ in range(n):
    key=input("enter the key:")
    val=input("enter the value for that key")
    dict[key]=val
print(dict)
dict["address"]="ktm"#add
print(dict)
dict["address"]="pokhara"#update
print(dict)
dict.pop("address")
print(dict)

{'age': '23', 'name': 'sara'}
{'age': '23', 'name': 'sara', 'address': 'ktm'}
{'age': '23', 'name': 'sara', 'address': 'pokhara'}
{'age': '23', 'name': 'sara'}

Check if a key exists in a dictionary.

In [8]:
student = {
    "name": "Suvekshya",
    "age": 21,
    "major": "Computer Science",
    "skills": ["Python", "C++", "React"],
    "is_enrolled": True
}
if "name" in student:
    print("name is in dict")
else:
    print("key no dound")
if  student["age"]==23 :
    print("found")
else:
    print("not found")

name is in dict
not found

Given a dictionary of items and prices, print items with price > 100.

In [10]:
items_prices = {
    "apple": 100,
    "banana": 40,
    "orange": 80,
    "mango": 150
}

print(items_prices)
for item,price in items_prices.items():
    if price>100:
        print(f"{item}:{price}")

{'apple': 100, 'banana': 40, 'orange': 80, 'mango': 150}
mango:150

Merge two dictionaries.

In [11]:
country_capitals = {
    "Nepal": "Kathmandu",
    "India": "New Delhi",
    "France": "Paris",
    "Japan": "Tokyo"
}
student_grades = {
    "Alice": 85,
    "Bob": 78,
    "Charlie": 92,
    "Daisy": 88
}
merge={}
for key,value in country_capitals.items():
    merge[key]=value
for key,value in student_grades.items():
    merge[key]=value
print(merge)

{'Nepal': 'Kathmandu', 'India': 'New Delhi', 'France': 'Paris', 'Japan': 'Tokyo', 'Alice': 85, 'Bob': 78, 'Charlie': 92, 'Daisy': 88}

Count the frequency of each character in a string using a dictionary."

In [14]:
text1="suvekshya"
dict={}

for letter in text1:
    count=1
    if letter in dict:
        count=count+1
    
    dict[letter]=count

print(dict)

{'s': 2, 'u': 1, 'v': 1, 'e': 1, 'k': 1, 'h': 1, 'y': 1, 'a': 1}

Accept n name-age pairs and store them in a dictionary.

Print all people aged above 18.

In [16]:
n=int(input("enter the number of records to enter:"))
record={}
for _ in range(n):
    key=input("enter name:")
    value=int(input("enter age for that name:"))
    record[key]=value
for name,age in record.items():
    if age>18:
        print(f"{name}:{age}")

saraa:30

Reverse a dictionary (swap keys and values).

In [3]:
country_capitals = {
    "Nepal": "Kathmandu",
    "India": "New Delhi",
    "France": "Paris",
    "Japan": "Tokyo"
}
capitals={}
for key,value in country_capitals.items():
    capitals[value]=key

print(capitals)

{'Kathmandu': 'Nepal', 'New Delhi': 'India', 'Paris': 'France', 'Tokyo': 'Japan'}

Create a dictionary where the key is a number and the value is its square (from 1 to 10).

In [6]:
import math
dict1={}
for i in range(1,10):
    key=i
    value=math.sqrt(key)
    dict1[key]=value
print(dict1)

{1: 1.0, 2: 1.4142135623730951, 3: 1.7320508075688772, 4: 2.0, 5: 2.23606797749979, 6: 2.449489742783178, 7: 2.6457513110645907, 8: 2.8284271247461903, 9: 3.0}

Sort a dictionary by values

In [ ]:
# Original dictionary
marks = {
    "Math": 88,
    "English": 75,
    "Science": 93,
    "History": 80
}

print("Original Dictionary:")
print(marks)

# Sort by values (ascending)
sorted_by_value_asc = dict(sorted(marks.items(), key=lambda item: item[1]))
print("\nSorted by values (ascending):")
print(sorted_by_value_asc)

# Sort by values (descending)
sorted_by_value_desc = dict(sorted(marks.items(), key=lambda item: item[1], reverse=True))
print("\nSorted by values (descending):")
print(sorted_by_value_desc)

# Sort by keys (alphabetically)
sorted_by_key = dict(sorted(marks.items()))
print("\nSorted by keys (alphabetically):")
print(sorted_by_key)

Given a list of numbers, create:

A set of unique numbers

A dictionary where key = number and value = number squared

In [7]:
list1={1,2,3,4,5}
dict1={}
for item in list1:
    key=item
    value=key*key
    dict1[key]=value
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Accept a sentence and:

Use a set to find unique words

Use a dictionary to count frequency of each word

In [10]:
sentence=input("enter a sentence:")
word=sentence.split()
print(word)
dict1={}
for item in word:
    if item in dict1:
        count=count+1
    else:
        count=1
    dict1[item]=count
print(dict1)

['The', 'light', 'in', 'the', 'room', 'was', 'soft,', 'but', 'the', 'light', 'outside', 'was', 'bright', 'and', 'shining.']
{'The': 1, 'light': 3, 'in': 1, 'the': 2, 'room': 1, 'was': 2, 'soft,': 1, 'but': 1, 'outside': 1, 'bright': 1, 'and': 1, 'shining.': 1}

Accept a list of student names and marks. Store in a dictionary and:

Print top 3 scorers

Print students who passed (marks > 40)

In [ ]:
student_names = ["Anita", "Binod", "Chandra", "Deepa", "Elina", "Firoz", "Gita"]
student_marks = [85, 67, 45, 92, 38, 74, 45]
dict={}
for item1,item2 in student_names,student_marks:
    dict[item1]=item2
print(dict)
for values in dict.values():